<div class="tableContainer mt-md-5">
  <span class="alert alert-info float-left"> Teachers table</span>
  <button mat-button color="primary" class="btnAddTeacher float-right" (click)="openAddTeacherDialouge()">Add
    teacher</button>

  <input (keyup)="applyFilter($event)" placeholder="Search teacher list" #input class="SearchFilterInput mb-3">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z13">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="class">
      <th mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>


    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element" (click)="openEdiTeacherDialouge(element)">
        <button type="button" mat-icon-button>
          <mat-icon class="editIcon">edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-icon-button id="delete" (click)="openTeacherDeleteDialouge(element.id)">
          <mat-icon class="deletIcon">delete</mat-icon>

        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 200]" showFirstLastButtons></mat-paginator>
</div>

<!-- End of datatable -->




<!-- Open diagloge for registering teacher -->
<ng-template #addTeacherFormDialouge>
  <h2 matDialogTitle> {{formHeading}} </h2>
  <!-- <p matDialogContent> </p> -->

  <!-- Form for adding teacher -->

  <form [formGroup]="addUpdateTeacherFormGroup" (submit)="addOrUpdateTeacher()" class="p-md-5">

    <p>
      <mat-form-field appearance="outline">
        <mat-label> Name </mat-label>
        <mat-icon matSuffix>person_pin</mat-icon>
        <input matInput placeholder="Enter name" type="text" formControlName="name">
      </mat-form-field>
      <mat-error
        *ngIf="addUpdateTeacherFormGroup.controls.name.touched && addUpdateTeacherFormGroup.controls.name.hasError('required')">
        Required *</mat-error>
      <mat-error
        *ngIf="addUpdateTeacherFormGroup.controls.name.touched && addUpdateTeacherFormGroup.controls.name.hasError('pattern')">
        Enter valid name</mat-error>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label> Class </mat-label>
        <mat-icon matSuffix>class</mat-icon>
        <input matInput placeholder="Enter class name" type="text" formControlName="class">
      </mat-form-field>
      <mat-error
        *ngIf="addUpdateTeacherFormGroup.controls.class.touched && addUpdateTeacherFormGroup.controls.class.hasError('required')">
        Required *</mat-error>
      <mat-error
        *ngIf="addUpdateTeacherFormGroup.controls.class.touched && addUpdateTeacherFormGroup.controls.class.hasError('pattern')">
        Enter valid class name</mat-error>
    </p>


    <button type="submit" [disabled]="!addUpdateTeacherFormGroup.valid" mat-button class="btnAddTeacher w-100">
      {{addOrUpdateTeacherbtnText}} </button>
  </form>


  <!-- End of form for adding teacher -->
</ng-template>

<!-- Confirm delete or not student dialouge -->
<ng-template #deleteTeacherFormDialouge>
  <h2 matDialogTitle>Are you sure to delete ? </h2>
  <button mat-button mat-dialog-close class="float-left">Cancel</button>
  <button mat-button (click)="deleteTeacher()" class="btn btn-danger float-right">Delete</button>
</ng-template>

<!-- End of delete or not student dialouge -->
